.banner {
  background-image: linear-gradient(-225deg, rgba(50,50,50,0.2) 0%, rgba(50,50,50,0.2)50%), url(../../images/aromina.jpg) ;
  color: white;
  padding:  120px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  font-size: 55px;
  font-family: Handlee ;
}

.banner h2 {
  font-size: 34px;
  font-weight: lighter;
  opacity: 0.9;
  margin-bottom: 40px;
  font-style: italic;
}
